@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    --primary-color: #000033;
  --primary-color-dark: #000033;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
body{
    background: #faf5ff;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    

}
.btn{
    width: 130px;
    margin-left: 125px;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    color: black;
    background-color: white;
}
.btn{
    height: 35px;
    background: #000033;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 50%;
}
.links{
    margin-bottom: 15px;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom{
    width: 100%;
    margin-top: 20px;
}






h1{
    color: #292F36;
    margin: 0 0 0.5em 0;
    font-family: "Barlow Semi Condensed Semibold", sans-serif;
    font-size: 2.2rem;
    line-height: 1.16;
    }
    
    h2{
        font-family: "Metropolis", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1em;
        font-size: 1.25rem;
    }
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    a {
      text-decoration: none;
    }
    
    body {
      font-family: "Poppins", sans-serif;
    }
    
    nav {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 99;
    }
    
    .nav__content {
      max-width: var(--max-width);
      margin: auto;
      padding: 1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    nav .logo a {
        font-size: 1.2rem;
        font-weight: 570;
        color: #000033;
        transition: 0.3s;
       
      }
    nav .logo a:hover {
      color: var(--primary-color-dark);
    }
    
    nav .checkbox {
      display: none;
    }
    
    nav input {
      display: none;
    }
    nav .checkbox i {
      font-size: 2rem;
      color: var(--primary-color);
      cursor: pointer;
    }
    
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      transition: left 0.3s;
    }
    
    ul li a {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-weight: 600;
      color: var(--text-dark);
      transition: 0.3s;
    }
    
    ul li a:hover {
      border-top-color: var(--secondary-color);
      border-bottom-color: var(--secondary-color);
      color: var(--secondary-color);
    }
    

    

   
    
  
    


    
   
    
    @media (width < 750px) {
      nav .checkbox {
        display: block;
      }
    
      ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      ul li a {
        font-size: 1.25rem;
      }
    

      .action__btns {
        margin: auto;
      }
    }