
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../login/login.component.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
    rel="stylesheet"
  />
    <title>Login</title>
</head>
<body>
  <nav>
    <div class="nav__content">
      <div class="logo"><a href="#">Fatoum</a></div>
      <label for="check" class="checkbox">
        <i class="ri-menu-line"></i>
      </label>
      <input type="checkbox" name="check" id="check" />
      <ul>
        <li><a href="/home">Home</a></li>
        
        <li><a href="/registerstudent">Register as Student</a></li>
        <li><a href="/registerinstructor">Register as Instructor</a></li>

      </ul>
    </div>
  </nav>
      <div class="container">
        <div class="box form-box">
            <header>Login</header>
            <form (submit)="login()">
                <div class="field input">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" autocomplete="off" [(ngModel)]="email" required>
                </div>

                <div class="field input">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" autocomplete="off" [(ngModel)]="password" required>
                </div>

                <div class="field">
                    
                    <input type="submit" class="btn" name="submit" value="Login" required>
                </div>
             
            </form>
        </div>
      
      </div>
</body>
</html>