<!DOCTYPE html>
<html lang="en">
  <head>
   
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="homepage.component.css" />
    <title>Web Design Mastery | Responsive Portfolio</title>
  </head>
  <body>
    <nav>
      <div class="nav__content">
        <div class="logo"><a href="#">Fatoum</a></div>
        <label for="check" class="checkbox">
          <i class="ri-menu-line"></i>
        </label>
        <input type="checkbox" name="check" id="check" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="#">Register as Student</a></li>
          <li><a href="#">Register as Instructor</a></li>
 
        </ul>
      </div>
    </nav>
    <section class="section">
      <div class="section__container">
        <div class="content">
       
          <h1 class="title">
            Help students 
           <br>become superheroes!
          </h1>
          <p class="description">
            Join our highly supportive Professional Learning Program for middle and high school educators.
          </p>
          <div class="action__btns">
            <button class="join">Join now</button>
          </div>
        </div>
        <div class="image">
          <img src="../../assets/homepage.png" alt="profile" />
        </div>
      </div>
    </section>
  </body>
</html>