<header>
    <h1>Student Dashboard</h1>
    <button id="enrollBtn" [routerLink]="['/AllCourses', studentId]">Enroll in New Courses</button>
    <button id="enrollBtn" [routerLink]="['/AllCourses', studentId]">View My Enrollment Requests</button>
    <button id="enrollBtn" (click)="getNotifications()">Notifications</button>
    
</header>
<main>
    <div class="filter">
        <input type="text" id="searchInput" placeholder="Search by name or category">
        <select id="sortBy">
            <option value="ratings">Sort by Ratings</option>
        </select>
    </div>
    <h3>My Courses</h3>
    <div class="course-card" *ngFor="let notification of notifications">
        <!-- <h2>{{ notification.title }}</h2> -->
        <p>{{ notification.message }}</p>
        <p>{{ notification.timestamp }}</p>
    </div>
</main>

<!-- <main>
    <div class="filter">
        <input type="text" id="searchInput" placeholder="Search by name or category">
        <select id="sortBy">
            <option value="ratings">Sort by Ratings</option>
        </select>
    </div>
    <h3>My Courses</h3>
    <div class="course-card" *ngFor="let course of courses">
        <h2>{{ course.name }}</h2>
        <p>Category: {{ course.category }}</p>
        <p>Ratings: {{ course.rating }}</p>
         <button class="enroll-btn" (click)="enroll(course.id!)">Enroll</button> -->
    <!-- </div>
</main>  -->