<!-- search-courses.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="search-courses.component.css">
</head>
<body>
  <div class="navv">
    <nav>
      <div class="nav__content">
        <div class="logo">Search courses</div>
        <div class="search-bar">
          <input [(ngModel)]="searchQuery" type="text" placeholder="Search by course name" class="search-input">
          <input [(ngModel)]="searchCategory" type="text" placeholder="Search by category" class="search-input">
          <select [(ngModel)]="sortOption" class="search-input">
            <option value="">Sort by</option>
            <option value="rating">Rating</option>
          </select>
          <button (click)="searchCourses()" class="search-button"><i class="ri-search-line"></i></button>
        </div>
      </div>
    </nav>
  </div>
  <div class="card-list">
    <div *ngFor="let course of courses" class="card-item">
      <img src="https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg?cs=srgb&dl=pexels-julia-m-cameron-4144923.jpg&fm=jpg" alt="Card Image">
      <div class="card-content">
        <h3>{{ course.name }}</h3>
        <p>Category: {{ course.category }}</p>
        <p>Instructor ID: {{ course.instructorId }}</p>
        <p>Duration: {{ course.duration }} hours</p>
        <p>Rating: {{ course.rating }}</p>
        <p>Capacity: {{ course.capacity }}</p>
        <p>Enrollments: {{ course.numberOfEnrolledStudents }}</p>
        <div class="arrow">
            <i class="fas fa-star review-icon card-icon" (click)="course.id && showReviews(course.id)"></i>

        </div>
        <div *ngIf="selectedCourseId === course.id">
          <div *ngFor="let review of selectedCourseReviews" class="review-item">
            <p>Comment: {{ review.comment }}</p>
            <p>Student ID: {{ review.studentId }}</p>
          </div>
          <div *ngIf="selectedCourseReviews.length === 0">
            <p>No reviews available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
