@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary-color: #000033;
    --primary-color-dark: #000033;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

body {
    background: #faf5ff;
}

.navv nav {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
}

.nav__content {
    max-width: var(--max-width);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-button {
    background: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background: var(--primary-color-dark);
}

.container {
    margin-top: 70px;
    max-width: var(--max-width);
    padding: 20px;
}

.grid {
    display: grid;
    gap: 60px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, 1fr);
}

.md\:grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.lg\:grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.xl\:grid-cols-5 {
    grid-template-columns: repeat(5, 1fr);
}

.course-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
